@import "tailwindcss";

/* ---------------root color-------------- */
:root {
  --gradient1: linear-gradient(to right, #CA408E, #084EC1);
  --white: #ffffff;
  --dark: #333;
  --success: #89b743;
  --accent: #CA408E;
  --primary: #084EC1;
  --purple: #812B8F;
}


/* Background Gradient */
.gradient-primary { 
  background: var(--gradient1); 
}

/* Hover Effect - Using same gradient1 */
.hover\:gradient-primary:hover {
  background: var(--gradient1);
  color: white;
  box-shadow: 0 4px 6px -1px rgba(129, 43, 143, 0.3), 0 2px 4px -1px rgba(129, 43, 143, 0.2);
}

/* Solid Colors */
.text-primary { color: var(--primary); }
.bg-primary { background: var(--primary); border-color: var(--primary); }

.text-success { color: var(--success); }
.bg-success { background: var(--success); }

.text-accent { color: var(--accent); }
.bg-accent { background: var(--accent); }

.text-purple { color: var(--purple); }
.bg-purple { background: var(--purple); }

.text-dark { color: var(--dark); }
/* ----------payment-related css---------------- */
@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scan {
  animation: scan 1.5s linear infinite;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}